# VIM/KDevelop Files
*.swp
*.kdev4
.kdev4/
*.kate-swp

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.test
examples/*/test

# Backup files
*~
/libscpi/obj/
/libscpi/dist/

/nbproject/
*.bak
*.d

# Code coverage files
*.gcno
*.gcda
*.gcov

#Gerbery
*.gbr
*.gbrjob
*.xln

#Labview
*.aliases
*.lvlps
*.dll
*.so
*.so.*
*.dylib
*.lvlibp
*.llb

HW/GERBER_DEVBRD/
LTspice/*.raw*
LTspice/*.log
LTspice/*.asc
FW/BP_demo2/Debug/
FW/BP_demo2/Drivers/
FW/BP_demo2/.settings/
FW/BP_demo2/.cproject
FW/BP_demo2/.project
FW/BP_demo2/*.launch
FW/BP_demo_3/Debug/
FW/BP_demo_3/Drivers/
FW/BP_demo_3/.settings/
FW/BP_demo_3/.cproject
FW/BP_demo_3/.project
FW/BP_demo_3/*.launch
FW/BP_demo_USB/bp_demo_usb/Debug/
FW/BP_demo_USB/bp_demo_usb/Drivers/
FW/BP_demo_USB/bp_demo_usb/.settings/
FW/BP_demo_USB/bp_demo_usb/.cproject
FW/BP_demo_USB/bp_demo_usb/.project
FW/BP_demo_USB/bp_demo_usb/*.launch